<div class="chat__container--temporary">
    <div class="chat__item">
        <p class="chat__item--badge">99+</p>
        <div class="chat__item--profile">
            <img src="/assets/knight.jpg" alt="Chat Profile Picture">
            <fa-icon size='xs' class="chat__item--status" [icon]='faCircle'></fa-icon>
        </div>
        <div class="chat__item--description">
            <h4 class="chat__item--description__title">Knight Superior</h4>
            <p class="chat__item--description__msg">New Message Arrived</p>
            <p class="chat__item--description__time">16:04</p>
        </div>
    </div>
</div>