/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
// Custom Font Families

@font-face {
    font-family: 'Montserrat Alternates Black';
    src: url('/fonts/Montserrat Alternates/MontserratAlternates-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Alternates Regular';
    src: url('/fonts/Montserrat Alternates/MontserratAlternates-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Alternates Medium';
    src: url('/fonts/Montserrat Alternates/MontserratAlternates-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('/fonts/Montserrat Alternates/MontserratAlternates-Bold.ttf') format('truetype');
}